<?xml version="1.0"?>
<config>
    <tabs>
        <mageprofis translate="label" module="core">
            <label>Mageprofis</label>
            <sort_order>100</sort_order>
        </mageprofis>
    </tabs>
    <sections>
        <headercontact translate="label" module="core">
            <label>Header Contact</label>
            <tab>mageprofis</tab>
            <frontend_type>text</frontend_type>
            <sort_order>90</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <hours translate="label">
                    <label>Hours</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <hours translate="label">
                            <label>Hours</label>
                            <comment>Uhrzeiten müssen mit Doppelpunkt getrennte Zahlen sein</comment>
                            <frontend_model>headercontact/config_hours</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </hours>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                    </fields>
                </hours>
                <contact translate="label">
                    <label>Contact</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <phone translate="label">
                            <label>Phone</label>
                            <comment>Wenn leer, werden die Daten aus dem Impressum verwendet</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </phone>
                        <!--<phone_unavailable translate="label">
                            <label>Closed Message</label>
                            <comment>Außerhalb der Hotline-Zeiten wird dieser Satz angezeigt</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </phone_unavailable>-->
                        <email translate="label">
                            <label>E-Mail</label>
                            <comment>Wenn leer, werden die Daten aus dem Impressum verwendet</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email>
                    </fields>
                </contact>
            </groups>
        </headercontact>
    </sections>
</config>